nav {
  display: flex;
  flex-flow: wrap;
}

.slice {
  box-sizing: border-box;
  border-radius: 20%;
  flex-basis: 50%;
  padding: 2em;
}

:focus {
  outline-width: thick;
  outline-style: groove;
}

html {
  font-size: 1.6em;
}

body {
  box-sizing: border-box;
  margin: auto;
}
